<div class="bg-amber-500 p-7 sm:p-12 uppercase text-4xl sm:text-8xl">
    <h1 class="text-center text-white uppercase font-bold text-4xl sm:text-8xl">Almacenaje</h1>
</div>
<div class="p-8 grid place-items-center gap-8 sm:grid-cols-2">
    <div>
        <h2 class="uppercase text-4xl font-bold">Espacio. Lo tenemos</h2>
        <p>Ofrecemos soluciones de almacenaje en multitemperatura para clientes de todos los tamaños en varias industrias. No importa el proyecto, tenemos la experiencia para garantizar la integridad de toda su cadena de suministro y ofrecer las mejores
            soluciones para servirles y a sus clientes. Nuestras soluciones son integrales y flexibles, y siempre tienen en su núcleo un compromiso inigualable en servicio al cliente.</p>
    </div>
    <div>
        <h2 class="uppercase text-sm font-bold">Nuestros Servicios</h2>
        <h3 class="uppercase text-sm font-black mt-3">Almacenaje</h3>
        <p>Guarda tu producto en la temperatura que necesites, en donde lo necesites, con acceso a más de 45,000 m2 de espacio a nivel nacional.</p>
        <h3 class="uppercase text-sm font-black mt-3">Picking/Armado de Pedidos</h3>
        <p>Garantiza el cumplimiento de pedidos confiables y precisos, enviando exactamente lo que necesites.</p>
        <h3 class="uppercase text-sm font-black mt-3">Reconfiguracion de Empaques</h3>
        Les asistimos con el re empaque y la reconfiguración de sus pedidos para mejor atender a sus clientes.
        <h3 class="uppercase text-sm font-black mt-3">Etiquetado</h3>
        <p>Mejora la gestión y rastreo de sus inventarios para garantizar un almacenamiento, identificación y envío óptimos de sus productos.</p>
        <h3 class="uppercase text-sm font-black mt-3">Preparacion de Pedidos</h3>
        <p>Construimos sus pedidos para todos sus clientes, permitiéndoles enfocar en su “core business”.</p>
    </div>
</div>