<div [ngStyle]="{'background': 'url(/src/assets/Home.png)'}" class="p-4 sm:p-20">
    <h3 class="text-center text-5xl sm:text-8xl text-amber-500 font-bold">"Sabemos que cada <br> cliente es <br> DIFERENTE <br>asi como <br> sus necesidades"</h3>
</div>

<div class="bg-[#6b6b6b] grid place-items-center sm:grid-cols-2">
    <div class="p-4">
        <p class="text-2xl text-white">Nuestros numeros garantizan el exito oportuno, eficaz y el mejor del mercado para que tus necesidades sean cumplidas a la brevedad, garantizando velocidad y eficiencia.</p>
    </div>
    <img src="/src/assets/Numeros-1.png" alt="En numeros">
</div>