<div class="distribucion">
    <h2 class="titulos">Logistica Internacional</h2>
</div>
<div class="contenidoSoluciones">
    <p>Cada vez más la cadena de suministro global está interconectada, y las empresas deben de adaptar a los cambios e incorporar una estrategia logística para navegar los mercados internacionales.</p>
    <p>Para las empresas que tienen una visión de negocio global, es importante contar con una alianza estratégica para el manejo de toda su cadena de suministro, desde origen al destino final, con un foco en operaciones logísticas control de calidad, optimización
        de costos y eficiencia en los tiempos de traslado. Dando visibilidad y transparencia a todos los pasos del manejo de carga de importación y exportación, otorgamos soluciones logísticas integrales, gestionándo todos los documentos y permisos aduanales
        requeridos para el traslado de mercancía, resultando en una reducción de gastos y optimización de recursos para que puedan enfocar en su “core business”.</p>

</div>