<div class="grid place-items-center bg-amber-500 sm:grid-cols-2">
    <div class="p-4">
        <h2 class="text-2xl sm:text-4xl font-semibold uppercase mb-8">Código red logístico: <br> Cobertura completa</h2>
        <p class="text-xl text-justify">Con más de 45,000 metros cuadrados de espacio, nuestros centros operativos están estratégicamente ubicados en la República Mexicana, lo que nos permite minimizar los tiempos de traslado y optimizar los tiempos de reacción para el desplazamiento
            del producto en cualquier parte del país.</p>
    </div>
    <div>
        <img src="assets/mapaCodigoRed.png" alt="codigored">
    </div>
</div>