<div class="bg-[url(assets/acercade.png)] bg-no-repeat bg-cover">
    <div class="p-4">
        <h1 class="text-6xl text-amber-400 font-extrabold">¿Quiénes <br><span class="ml-8 text-8mevn
    xl">Somos?</span></h1>
        <div class="p-5 text-2xl text-justify mt-4 text-white">
            <p>Desde nuestra fundación, nos hemos dedicado a ser la empresa líder en el ramo logístico de alimentos y bebidas, ofreciendo los mejores servicios de almacenaje y distribución que satisfagan y den soluciones en multitemperatura a las necesidades
                de nuestros clientes.</p>
            <p class="mt-4">Con un compromiso inigualable del servicio al cliente, brindamos nuestros recursos, tecnología e infraestructura de alto nivel para asegurar que sus productos se distribuyan con precisión y seguridad, en tiempo y forma, integrando economías
                de escala con valor agregado a su cadena de suministro, resultando en ahorros administrativos y operativos, permitiéndoles enfocar sus recursos en su “core business”.</p>
        </div>
    </div>
</div>