.header {
    background-color: white;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    // &__h1 {
    //     width: 5rem;
    //     height: 5rem;
    // }
    &__button {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 430px) {
            display: flex;
        }
    }
    &__nav {
        @media screen and (max-width: 430px) {
            width: 100%;
            // display: flex;
            height: 0vh;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            pointer-events: none;
            &--activo {
                // display: flex;
                height: auto;
                pointer-events: auto;
            }
        }
    }
    &__ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media screen and (max-width: 430px) {
            flex-direction: column;
        }
    }
    &__li {
        text-align: center;
        margin: 0 .5em;
        @media screen and (max-width: 430px) {
            margin: .5em 0;
        }
    }
}