<!-- <nav>
    <div class="flex gap-4 justify-evenly items-center p-2">
        <a routerLink="/home">
            <img srcset="./assets/logoNav.png" alt="Codigo Alimentario">
        </a>
        <div class="sm:hidden">
            <img src="/assets/logonav.svg" alt="logoNav">
        </div>
        <div class="flex gap-4">
            <a routerLink="/home" href="">Inicio</a>
            <a routerLink="/aboutof" href="">Acerca De</a>
            <a routerLink="/solutions" href="">Soluciones</a>
            <a routerLink="/location" href="">Ubicacion</a>
            <a routerLink="/tech" href="">Tecnologia</a>
        </div>
    </div>
</nav> -->


<header class="header">
    <h1 class="header__h1"><img width="150" src="../assets/logoNav.png " alt="logonav"></h1>
    <button (click)="setActive()" class="header__button"><img src="../assets/logonav.svg" alt="Toggle Menu"></button>
    <nav class="header__nav" [ngClass]="{'header__nav--activo':active}">
        <ul class="hedaer__ul sm:flex md:justify-evenly">
            <li class="header__li"><a routerLink="home" class="text-black font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer hoverNav">Inicio</a></li>
            <li class="header__li"><a routerLink="aboutof" class="text-black font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer hoverNav">Acerca De</a></li>
            <li class="header__li"><a routerLink="solutions" class="text-black font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer hoverNav">Soluciones</a></li>
            <li class="header__li"><a routerLink="location" class="text-black font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer hoverNav">Ubicacion</a></li>
            <li class="header__li"><a routerLink="tech" class="text-black font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer hoverNav">Tecnologia</a></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>
<footer-component></footer-component>