<div class="distribucion">
    <h2 class="titulos">Distribucion</h2>
</div>
<div class="contenidoSoluciones">
    <div class="servs__distribucion">
        <p>Con un compromiso de seguridad, eficiencia, valor y servicio, trabajamos para que sus productos lleguen a tiempo y en forma, en las condiciones requeridas.</p>
        <p>Sabemos que cada cliente es diferente, así́ como las soluciones que necesitan. Para dar la mejor administración de las cargas en nuestros centros de distribución, contamos con una flotilla propia con capacidades multitemperatura para que puedan
            consolidar y enviar cualquier producto en la temperatura requerida a cualquier parte del país.</p>
        <p>Optimizamos sus tiempos logísticos para eliminar gastos administrativos y operativos excesivos, mejorando sus niveles de servicio e incrementando eficiencias en toda su cadena de suministro. Desde el inicio de cada proyecto, trabajamos con ustedes
            para entender mejor sus necesidades, eso para desarrollar soluciones optimas e integrales y alianzas de largo plazo, permitiéndoles crecer y enfocar sus recursos en su “core business”.</p>
    </div>
    <div>
        <h2 class="titulos__serv">Nuestros Servicios</h2>
        <h3>Transporte</h3>
        <p>Hagan su empresa más competitiva con el uso de nuestro parque vehicular para el envío y traslado de sus productos en la temperatura requerida a nivel nacional.</p>
        <h3>Distribucion Consolidada</h3>
        <p>Evita gastos excesivos y paga por el espacio que ocupas. Contamos con un calendario de entregas con frecuencias semanales a más de 500 ciudades en los 32 estados de la República Mexicana.</p>
        <h3>Cross Doc</h3>
        <p>Reduce sus tiempos de entrega y manda producto a cualquier parte del país, logrando una eficiencia y productividad dentro de su cadena de suministro.</p>
    </div>
</div>