<div class="tecnologiaLogistica">
    <h1 class="titulos">Tecnologia <br> Logistica</h1>
</div>
<div class="contenidoSoluciones">
    <div class="">
        <p>En una industria con tantas variables, la planeación, creatividad y flexibilidad son imperativas para mantener una operación logística robusta y dinámica.</p>
        <p>Por ello, toda nuestra flotilla y entrega de mercancía está planificada a través de un sistema de gestión de flotas y optimización de rutas, desde la gestión de pedidos y la planificación de rutas hasta la entrega en los puntos de venta de nuestros
            clientes.</p>
        <p>Este software ayuda a agrupar todos los pedidos y distribuirlos en rutas optimizadas, reduciendo el kilometraje y mejorando el uso de recursos. Así́ mismo, permite una gestión y distribución más eficiente y mejora la calidad, flexibilidad y
            sostenibilidad de la plataforma logística. Todas estas eficiencias se traducen en una reducción de costos y emisiones, resultando en ahorros positivos para nosotros y nuestros clientes.</p>
    </div>
    <div>
        <h2 class="titulos__serv">LOS BENEFICIOS DEL SISTEMA PARA SU OPERACIÓN LOGISTICA:</h2>
        <li>Disminución de costos de transporte a través de optimización, reduciendo el kilometraje y consumo de combustible</li>
        <li>Optimización de rutas de entregas, distribución y recolección</li>
        <li>Optimización del uso de su flota</li>
        <li>OMejora del servicio al cliente con reducción en tiempos de planeación y mejora en tiempo de entregas</li>
    </div>
</div>