<section>
    <div>
        <h1>Ubicacion</h1>
    </div>
    <div class="contenidoUbicacion">
        <p>El núcleo de nuestra cadena de suministro son nuestros Centros de Distribución estratégicamente ubicados. Con más de 45,000 m2, nuestra red de centros operativos ofrece a nuestros clientes un hub centralizado, cerca de sus usuarios finales,
            permitiéndoles minimizar tiempos de traslado y optimizar tiempos de reacción para el desplazamiento de sus productos en cualquier parte del país, en la temperatura requerida, de manera rápida y óptima.</p>
        <p>Nuestros CEDIS les permiten crear eficiencias operativas y reducir costos al trasladar la administración y operación de su cadena de suministro a cargo de un especialista en almacenaje y distribución.</p>
    </div>
    <img src="img/ubicacion/Mapados-1024x649.png" alt="">
</section>


<section>
    <div>
        <h3>Cedis Tultitlán</h3>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
        </svg>
        <p>Boulevard Benito Juarez 10 Nave E-4, San Mateo Cuautepec,<br> 54948 Tultitlán de Mariano Escobedo, Méx</p>
    </div>
    <!--Ubicaciones-->

    <div>
        <h3>Cedis Monterrey</h3>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
        </svg>
        <p>Carretera Nuevo Laredo Parc 296A 300, calle sin nombre, <br> Desarrollo industrial GP Tecnocentro Nave 2-A, General Escobedo, N.L, CP 66052.</p>
    </div>
    <!--Ubicaciones-->

    <div>
        <h3>Cedis Guadalajara</h3>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
        </svg>
        <p>Carretera El Salto Km. 4 Col. San José del Castillo, <br> El Salto Jalisco C.P. 45685</p>
    </div>
    <!--Ubicaciones-->

    <div>
        <h3>Cedis Cancun</h3>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
        </svg>
        <p>Calle Monte Campeche Int.53,54,55,56 y 57. Sm 301, Mza.83, Lt 01-A Carretera Cancún Aeropuerto CP 77500. <br> Cancún Quintana Roo.Centro Logístico de Cancún Celocán.</p>
    </div>
    <!--Ubicaciones-->
</section>