<section>
    <div class="bg-amber-500 p-7 sm:p-12">
        <h1 class="text-center text-white uppercase font-bold text-4xl sm:text-8xl">Ubicacion</h1>
    </div>
    <article class="grid place-items-center sm:grid-cols-2">
        <div class="mt-8 p-4 text-lg text-justify">
            <p>El núcleo de nuestra cadena de suministro son nuestros Centros de Distribución <strong>estratégicamente ubicados. Con más de 45,000 m2, nuestra red de centros operativos ofrece a nuestros clientes un hub centralizado</strong>, cerca de
                sus usuarios finales, permitiéndoles minimizar tiempos de traslado y optimizar tiempos de reacción para el desplazamiento de sus productos en cualquier parte del país, en la temperatura requerida, de manera rápida y óptima.</p>
            <p class="mt-4">Nuestros CEDIS les permiten crear eficiencias operativas y reducir costos al trasladar la administración y operación de su cadena de suministro a cargo de un especialista en almacenaje y distribución.</p>
        </div>
        <img src="/assets/Mapados-1024x649.png" alt="Map two ubication CEDIS">
    </article>
</section>


<section class="grid p-4 sm:grid-cols-4">
    <div>
        <h3 class="mb-4 text-center uppercase font-bold">Cedis Tultitlán</h3>
        <p class="text-[0.85rem]">Boulevard Benito Juarez 10 Nave E-4, San Mateo Cuautepec,<br> 54948 Tultitlán de Mariano Escobedo, Méx</p>
    </div>
    <!--Ubicaciones-->

    <div>
        <h3 class="mb-4 text-center uppercase font-bold">Cedis Monterrey</h3>
        <p class="text-[0.85rem]">Carretera Nuevo Laredo Parc 296A 300, calle sin nombre, <br> Desarrollo industrial GP Tecnocentro Nave 2-A, General Escobedo, N.L, CP 66052.</p>
    </div>
    <!--Ubicaciones-->

    <div>
        <h3 class="mb-4 text-center uppercase font-bold">Cedis Guadalajara</h3>
        <p class="text-[0.85rem]">Carretera El Salto Km. 4 Col. San José del Castillo, <br> El Salto Jalisco C.P. 45685</p>
    </div>
    <!--Ubicaciones-->

    <div>
        <h3 class="mb-4 text-center uppercase font-bold">Cedis Cancun</h3>
        <p class="text-[0.85rem]">Calle Monte Campeche Int.53,54,55,56 y 57. Sm 301, Mza.83, Lt 01-A Carretera Cancún Aeropuerto CP 77500. <br> Cancún Quintana Roo.Centro Logístico de Cancún Celocán.</p>
    </div>
    <!--Ubicaciones-->
</section>