<div [ngStyle]="{'background': 'url(assets/PrevencionCOVID.png)'}" class="text-white grid text-justify place-items-center sm:grid-cols-2">
    <div class="p-4">
        <h2 class="text-5xl font-extrabold text-amber-400 uppercase">Prevención Covid 19 <br><span class="text-white">Reinicie su negocio con Código <br> Alimentario</span></h2>
        <p class="text-xl mt-4">Todos los Centros de Distribución de Código Alimentario cuentan con el sello de protección SAFEGUARD de Bureau Veritas, que reconoce el cumplimiento de buenas prácticas y estándares en Bioseguridad, así como la implementación de los protocolos
            para la prevención del COVID 19 en la cadena de suministro.</p>
        <p class="text-xl mt-4"> Con la implementación de este programa, pueden tener la tranquilidad de que sus productos se encuentran en un lugar que cumple de forma rigurosa con las medidas de Salud, Seguridad e Higiene establecidas de acuerdo a las regulaciones gubernamentales
            y directrices de la Organización Mundial de la Salud (OMS). Es parte de nuestro compromiso de brindar un servicio de calidad a todos nuestros clientes y sus consumidores finales.</p>
    </div>
    <div class="grid place-items-center gap-4 sm:grid-cols-1">
        <img src="assets/Bureau_logo-150x150.png" alt="Bureau_logo">
        <img src="assets/SAFEGUARD_logo-150x150.png" alt="SAFEGUARD">
    </div>
</div>